$clr-1: blue;
$clr-2: blue;
$clr-3: blue;
$clr-4: blue;
$clr-5: blue;
$clr-6: blue;
$clr-7: blue;
$clr-8: blue;
$clr-9: blue;
$clr-10: blue;
$clr-11: blue;
$clr-12: blue;
$clr-13: blue;
$clr-14: blue;
$clr-15: blue;
$clr-16: blue;
$clr-17: blue;
$clr-18: blue;
$clr-19: blue;
$clr-20: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
$clr-1: blue;
