*,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./colors";

@media (min-width: 0) {
  nav {
    background-color: red;
  }

  .cursor_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    div {
      height: 10vh;

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }

      &:nth-child(1) {
        background-color: $clr-1;
        cursor: alias;
      }
    }
  }
}
