$dark: #000000;
$light: #ffffff;

$clr-1: blue;
$clr-2: rgb(145, 145, 242);
$clr-3: rgb(0, 255, 98);
$clr-4: rgb(86, 86, 168);
$clr-5: rgb(89, 187, 65);
$clr-6: rgb(118, 102, 84);
$clr-7: rgb(71, 170, 41);
$clr-8: rgb(250, 183, 211);
$clr-9: rgb(130, 52, 118);
$clr-10: rgba(55, 216, 200, 0.807);
$clr-11: rgb(214, 214, 244);
$clr-12: rgb(175, 90, 124);
$clr-13: rgb(83, 83, 93);
$clr-14: rgb(104, 123, 147);
$clr-15: rgb(86, 141, 152);
$clr-16: rgba(40, 112, 42, 0.781);
$clr-17: rgb(216, 187, 140);
$clr-18: rgb(244, 222, 83);
$clr-19: rgb(60, 178, 201);
$clr-20: rgb(14, 148, 137);
$clr-21: rgb(26, 255, 0);
$clr-22: rgb(6, 205, 172);
$clr-23: rgb(176, 15, 112);
$clr-24: rgb(20, 208, 236);
$clr-25: rgb(81, 209, 61);
$clr-26: rgb(185, 129, 25);
$clr-27: rgb(237, 126, 79);
$clr-28: rgb(160, 20, 72);
$clr-29: rgb(127, 127, 250);
$clr-30: blue;
$clr-31: blue;
$clr-32: blue;
$clr-33: blue;
$clr-34: blue;
$clr-35: blue;
