$dark: #000000;
$light: #ffffff;

$c-1: #f7c049;
$c-2: rgb(0, 255, 98);
$c-3: rgba(3, 172, 155, 0.807);
$c-4: rgb(255, 22, 22);
$c-5: #fff700;
$c-6: rgb(255, 255, 255);
$c-7: rgb(80, 235, 255);

$clr-1: $c-1;
$clr-2: $c-4;
$clr-3: $c-2;
$clr-4: $c-3;
$clr-5: $c-2;
$clr-6: $c-5;
$clr-7: $c-2;
$clr-8: $c-3;
$clr-9: $c-7;
$clr-10: $c-1;
$clr-11: $c-3;
$clr-12: $c-2;
$clr-13: $c-1;
$clr-14: $c-4;
$clr-15: $c-5;
$clr-16: $c-3;
$clr-17: $c-5;
$clr-18: $c-3;
$clr-19: $c-6;
$clr-20: $c-2;
$clr-21: $c-1;
$clr-22: $c-2;
$clr-23: $c-3;
$clr-24: $c-6;
$clr-25: $c-2;
$clr-26: $c-4;
$clr-27: $c-7;
$clr-28: $c-6;
$clr-29: $c-7;
$clr-30: $c-5;
$clr-31: $c-3;
$clr-32: $c-5;
$clr-33: $c-2;
$clr-34: $c-1;
$clr-35: $c-4;
$clr-36: $c-2;
