*,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
  scroll-behavior: smooth;
}

@media (min-width: 0) {
  nav {
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
  }
  span a {
    padding-left: 7px;
    color: yellow;
    transition: all 250ms ease-in-out;
  }
  span a:hover {
    font-style: italic;
    color: aqua;
    opacity: 0.7;
  }
  .cursor_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .cursor_section div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: 250ms ease-in-out;
  }
  .cursor_section div:hover {
    border: 1px dashed #000000;
    filter: invert(2);
  }
  .cursor_section div:nth-child(1) {
    background-color: #f9f871;
    cursor: alias;
  }
  .cursor_section div:nth-child(2) {
    background-color: #ed5e93;
    cursor: all-scroll;
  }
  .cursor_section div:nth-child(3) {
    background-color: #d3fbd8;
    cursor: auto;
  }
  .cursor_section div:nth-child(4) {
    background-color: #00c9a7;
    cursor: cell;
  }
  .cursor_section div:nth-child(5) {
    background-color: #d3fbd8;
    cursor: col-resize;
  }
  .cursor_section div:nth-child(6) {
    background-color: #fff700;
    cursor: context-menu;
  }
  .cursor_section div:nth-child(7) {
    background-color: #d3fbd8;
    cursor: copy;
  }
  .cursor_section div:nth-child(8) {
    background-color: #00c9a7;
    cursor: crosshair;
  }
  .cursor_section div:nth-child(9) {
    background-color: #c4fcef;
    cursor: default;
  }
  .cursor_section div:nth-child(10) {
    background-color: #f9f871;
    cursor: e-resize;
  }
  .cursor_section div:nth-child(11) {
    background-color: #00c9a7;
    cursor: ew-resize;
  }
  .cursor_section div:nth-child(12) {
    background-color: #d3fbd8;
    cursor: grab;
  }
  .cursor_section div:nth-child(13) {
    background-color: #f9f871;
    cursor: grabbing;
  }
  .cursor_section div:nth-child(14) {
    background-color: #ed5e93;
    cursor: help;
  }
  .cursor_section div:nth-child(15) {
    background-color: #fff700;
    cursor: move;
  }
  .cursor_section div:nth-child(16) {
    background-color: #00c9a7;
    cursor: n-resize;
  }
  .cursor_section div:nth-child(17) {
    background-color: #fff700;
    cursor: ne-resize;
  }
  .cursor_section div:nth-child(18) {
    background-color: #00c9a7;
    cursor: nesw-resize;
  }
  .cursor_section div:nth-child(19) {
    background-color: rgb(255, 255, 255);
    cursor: no-drop;
  }
  .cursor_section div:nth-child(20) {
    background-color: #d3fbd8;
    cursor: none;
  }
  .cursor_section div:nth-child(21) {
    background-color: #f9f871;
    cursor: not-allowed;
  }
  .cursor_section div:nth-child(22) {
    background-color: #d3fbd8;
    cursor: ns-resize;
  }
  .cursor_section div:nth-child(23) {
    background-color: #00c9a7;
    cursor: nw-resize;
  }
  .cursor_section div:nth-child(24) {
    background-color: rgb(255, 255, 255);
    cursor: nwse-resize;
  }
  .cursor_section div:nth-child(25) {
    background-color: #d3fbd8;
    cursor: pointer;
  }
  .cursor_section div:nth-child(26) {
    background-color: #ed5e93;
    cursor: progress;
  }
  .cursor_section div:nth-child(27) {
    background-color: #c4fcef;
    cursor: row-resize;
  }
  .cursor_section div:nth-child(28) {
    background-color: rgb(255, 255, 255);
    cursor: s-resize;
  }
  .cursor_section div:nth-child(29) {
    background-color: #c4fcef;
    cursor: se-resize;
  }
  .cursor_section div:nth-child(30) {
    background-color: #fff700;
    cursor: sw-resize;
  }
  .cursor_section div:nth-child(31) {
    background-color: #00c9a7;
    cursor: text;
  }
  .cursor_section div:nth-child(32) {
    background-color: #fff700;
    cursor: vertical-text;
  }
  .cursor_section div:nth-child(33) {
    background-color: #d3fbd8;
    cursor: w-resize;
  }
  .cursor_section div:nth-child(34) {
    background-color: #f9f871;
    cursor: wait;
  }
  .cursor_section div:nth-child(35) {
    background-color: #ed5e93;
    cursor: zoom-in;
  }
  .cursor_section div:nth-child(36) {
    background-color: #d3fbd8;
    cursor: zoom-out;
  }
}/*# sourceMappingURL=cursor.css.map */